{% extends "base.html" %}
{% block content %}

<section id="login-register" class="login-register section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="login-register-wraper">
          {% if validlink %}
          <h4 class="text-center mb-5">Enter your new password</h4>
          {% include 'messages.html' %}

          <form method="post">
            {% csrf_token %}
            <div class="row g-3">

              <div class="col-12">
                <div class="mb-4">
                  <label for="id_new_password1" class="form-label">Password</label>
                  <input type="password" name="new_password1"
                    class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" id="id_new_password1"
                    required>
                  {% for error in form.new_password1.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>

              <div class="col-12">
                <div class="mb-4">
                  <label for="id_new_password2" class="form-label">Confirm password</label>
                  <input type="password" name="new_password2"
                    class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" id="id_new_password2"
                    required>
                  {% for error in form.new_password2.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>

              {% if form.non_field_errors %}
              <div class="col-12">
                <div class="alert alert-danger">
                  {% for error in form.non_field_errors %}
                  <p class="mb-0">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
              {% endif %}

              <div class="col-12">
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-lg">Set new password</button>
                </div>
              </div>

            </div>
          </form>
          {% else %}
          <h4 class="text-center mb-5">Invalid Reset password link</h4>
          <p class="text-center mb-3">
            This reset link is invalid or has already been used.<br>
            <a href="{% url 'accounts:password-reset' %}">Request a new one</a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

</section>
{% endblock %}