{% extends "base.html" %}
{% block content %}

<section id="order-confirmation" class="order-confirmation section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="order-confirmation-1">
      <div class="next-steps text-center p-4" data-aos="fade-up" data-aos-delay="250">
        <h3>Check your inbox</h3>
        <p>If an account exists with that email address,
          we have sent a <strong>password reset link.</strong></p>
        <div class="tracking-info mb-4">
          <i class="bi bi-link me-2"></i>The link expires in 3 days.
        </div>
        <div class="action-buttons">
          <a href="{% url 'accounts:login' %}" class="btn btn-primary me-3 mb-2 mb-md-0">
            Back to login
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}