{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Orders Tab -->
<div class="tab-pane fade show active" id="orders">
    <div class="section-header" data-aos="fade-up">
        <h2>Orders ({{total_items}})</h2>
        <div class="header-actions">

    <a href="{% url 'dashboard:admin:export-orders-csv' %}" class="btn btn-add-new pt-2" title="Export CSV">
      <i class="bi bi-download"></i> CSV
    </a>

    <div class="search-box">
        <div class="filter-item search-form">
            <form method="get">
                {% for key, value in request.GET.items %}
                    {% if key != "q" %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
                <div class="input-group">
                    <input type="text" class="form-control" id="productSearch" name="q"
                        value="{{ request.GET.q|default_if_none:'' }}"
                        placeholder="Search for products..." aria-label="Search for products">
                    <button style="padding-bottom: 44px;" class="btn search-btn btn-add-new" type="submit"><i class="bi bi-search text-white"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="dropdown">
        <button class="filter-btn" data-bs-toggle="dropdown">
            <i class="bi bi-funnel"></i>
            <span>Filter</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item {% if not request.GET.status %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'status' %}{{ key }}={{ value }}&{% endif %}{% endfor %}">
                   All Orders
                </a>
            </li>
            <li>
                <a class="dropdown-item {% if request.GET.status == '1' %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'status' %}{{ key }}={{ value }}&{% endif %}{% endfor %}status=1">
                   Pending
                </a>
            </li>
            <li>
                <a class="dropdown-item {% if request.GET.status == '2' %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'status' %}{{ key }}={{ value }}&{% endif %}{% endfor %}status=2">
                   Success
                </a>
            </li>
            <li>
                <a class="dropdown-item {% if request.GET.status == '3' %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'status' %}{{ key }}={{ value }}&{% endif %}{% endfor %}status=3">
                   Failed
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="filter-btn" data-bs-toggle="dropdown">
            <i class="bi bi-sort-down"></i>
            <span>Sort</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item {% if not request.GET.order_by %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'order_by' %}{{ key }}={{ value }}&{% endif %}{% endfor %}">
                   Default
                </a>
            </li>
            <li>
                <a class="dropdown-item {% if request.GET.order_by == 'id' %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'order_by' %}{{ key }}={{ value }}&{% endif %}{% endfor %}order_by=id">
                   Oldest First
                </a>
            </li>
            <li>
                <a class="dropdown-item {% if request.GET.order_by == '-id' %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'order_by' %}{{ key }}={{ value }}&{% endif %}{% endfor %}order_by=-id">
                   Newest First
                </a>
            </li>
            <li>
                <a class="dropdown-item {% if request.GET.order_by == 'status' %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'order_by' %}{{ key }}={{ value }}&{% endif %}{% endfor %}order_by=status">
                   Status (Asc)
                </a>
            </li>
            <li>
                <a class="dropdown-item {% if request.GET.order_by == '-status' %}active{% endif %}"
                   href="?{% for key, value in request.GET.items %}{% if key != 'order_by' %}{{ key }}={{ value }}&{% endif %}{% endfor %}order_by=-status">
                   Status (Desc)
                </a>
            </li>
        </ul>
    </div>

</div>
    </div>

    <div class="table-responsive-xl w-100">
      <table class="table table-hover text-center">
          <thead>
              <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Submission Date</th>
                  <th scope="col">Status</th>
              </tr>
          </thead>
          <tbody>
              {% for object in object_list %}
              <tr>
                <th><a href="{% url 'dashboard:admin:order-detail' pk=object.pk %}">
                    ORD{{object.user.id}}-{{ object.created_date|date:"dmy-Hi" }}-{{ object.id }}
                    </a></th>
                <td>{{object.user.user_profile.get_fullname}}</td>
                <td>{{object.get_price|intcomma}}</td>
                <td>{{object.created_date|date:"Y.m.d - H:i"}}</td>
                <td>
                    {% if object.status == 2 %}
                    <span class="text-success">Success</span>
                    {% elif object.status == 1 %}
                    <span class="text-secondary">Pending</span>
                    {% else %}
                    <span class="text-danger">Failed</span>
                    {% endif %}
                </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
      
      <section id="category-pagination" class="category-pagination section">
        <div class="container">
          <nav class="d-flex justify-content-center" aria-label="Page navigation">
            <ul>

              {# Previous Page #}
              {% if page_obj.has_previous %}
                <li>
                  <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">
                    <i class="bi bi-arrow-left"></i>
                    <span class="d-none d-sm-inline">Previous</span>
                  </a>
                </li>
              {% endif %}

              {# Show first page and ellipsis if needed #}
              {% if page_obj.number > 3 %}
                <li><a href="?page=1">1</a></li>
                {% if page_obj.number > 4 %}
                  <li class="ellipsis">...</li>
                {% endif %}
              {% endif %}

              {# Pages around current page #}
              {% for num in page_obj.paginator.page_range %}
                {% if num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                  {% if num == page_obj.number %}
                    <li><a href="?page={{ num }}&view={{ view_mode }}" class="active">{{ num }}</a></li>
                  {% else %}
                    <li><a href="?page={{ num }}&view={{ view_mode }}">{{ num }}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}

              {# Show ellipsis and last page if needed #}
              {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                  <li class="ellipsis">...</li>
                {% endif %}
                <li><a href="?page={{ page_obj.paginator.num_pages }}&view={{ view_mode }}">{{ page_obj.paginator.num_pages }}</a></li>
              {% endif %}

              {# Next Page #}
              {% if page_obj.has_next %}
                <li>
                  <a href="?page={{ page_obj.next_page_number }}&view={{ view_mode }}" aria-label="Next page">
                    <span class="d-none d-sm-inline">Next</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </li>
              {% endif %}

            </ul>
          </nav>
        </div>
      </section>
      {% endif %}
</div>

{% endblock %}